
/* .nav-items{
  display: flex;

}
ul{
  display: flex;
} */
 body{
  background-color: rgb(202, 224, 200);
 }
.header{
  display: flex;
  justify-content: space-between;
  margin: 10px;
  border: 1px solid black;
  box-shadow: 0px 4px 12px rgba(189, 59, 59, 0.2);
  margin-bottom: 0px;

}
.nav-items > ul{
  display: flex;

}
.nav-items > ul >li {
  padding: 10px;
  list-style: none;
} 
.logo{
  width: 100px;
}
.card >img {
  width: 100%;
}
.card
{
  width: 250px;
  height: 75vh;
  border: 1px solid black;
  padding: 20px;
  margin-right: 10px;
  margin-top: 0px;
  margin-bottom: 2%;
  box-shadow: 0px 4px 12px rgba(189, 59, 59, 0.2);
}
.Card-parent{
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
  justify-content: center;
  
}
.Parentone{

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2%;
  
}
.child{
  width: 250px;
  height: 75vh;
  border: 1px solid black;
  padding: 20px;
  margin-right: 10px;
  margin-top: 0px;
  margin-bottom: 2%;
  box-shadow: 0px 4px 12px rgba(189, 59, 59, 0.2)
}

